.trick_list {
    margin-top: 24px;
    margin-bottom: 24px !important;
    margin-left: 24px;

    .col {
        max-height: 300px;
        height: 300px;

        .card {
            img {
                height: calc(100% - 54px);
                object-fit: fill;
            }

            .card-body {
                height: 54px;
                border-top: 1px solid rgb(180, 180, 180);
            }
        }

    }
}

#moreTricks {
    margin-left: auto;
    margin-right: auto;
}

.hide {
    display: none;
}

.homepage_picture {
    display: flex;
    justify-content: center;
    position: relative;

    .catch_phrase {
        background-color: rgb(255, 255, 255);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    img {
        height: calc(100vh - 45px);
        width: 100vw;
        object-fit: cover;
    }
}

.smooth_scroll_up {
    color: black;
    background-color: bisque;
    position: absolute;
    bottom: 0;
    right: 0;
}

.smooth_scroll_down {
    color: black;
    background-color: bisque;
}

.smooth_scroll_down,
.smooth_scroll_up {
    svg {
        width: 50px;
        height: 50px;
        font-weight: bold;
    }
}

footer {
    display: flex;
    justify-content: flex-end;
}

.sucess_flash {
    background-color: greenyellow;
}