.nav_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 45px;
}

.navbar {
    height: 45px;
    padding-top: 3px !important;
    z-index: 2;

    .container-fluid {
        background-color: white;
    }
}