.cover_img {
    display: flex;
    justify-content: center;
    position: relative;

    .trick_name {
        position: absolute;
        top: 50%;
        font-size: 30px;
        font-weight: bold;
        background-color: white;
    }

    img {
        height: 80vh;
        width: auto;
        max-width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .pictures_videos_list.hidden {
        display: none;
    }
}

@media only screen and (min-width: 401px) {
    #show_pictures_videos_list_button {
        display: none;
    }
}

.pictures_videos_list {
    .trick_list {
        .card {

            img,
            video {
                width: 100%;
                height: 15vw;
                object-fit: cover;
            }
        }
    }
}