{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="container mt-5 col-12 col-sm-11 col-md-8 col-lg-6 col-xl-5 text-center">
		<h1 class="text-center">réinitialisation du mot de passe</h1>

		{{ form(form) }}
		</div>
	{% endblock %}
