<link rel="stylesheet" href="{{ asset('styles/editOrDeleteButton.css') }}" type="text/css" media="all"/>
<div id="edit-delete-container">
	<button type="button" class="btn hover-text">
		{{ ux_icon('material-symbols:edit-outline') }}
		<span class="tooltip-text" id="top">Editer</span>
	</button>
	<button type="button" class="btn hover-text">
		{{ ux_icon('icomoon-free:bin') }}
		<span class="tooltip-text" id="top">Supprimer</span>
	</button>
</div>
