<div class="nav_bar">
	<a href="{{ path('homepage') }}">Home</a>
	<a href="">Tricks</a>
	<a href="{{ path('chatroom', {'page': 1}) }}">Espace de discussion</a>
	<a href="">Sign in</a>
	<a href="">Sign up</a>
</div>
